@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 257 92% 60%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9% 0;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --footer: 60px;

    --toastify-color-dark: #262626;
    --toastify-color-error: hsl(0, 100%, 50%);
    --toastify-toast-bd-radius: 8px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollWrapper pre::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollWrapper pre::-webkit-scrollbar-track {
    background: #1e2021;
  }

  .scrollWrapper pre::-webkit-scrollbar-thumb {
    background: #3f4142;
    border-radius: 4px;
  }

  .scrollWrapper pre::-webkit-scrollbar-thumb:hover {
    background: #4f5152;
  }
}
